
<div class="container__small-card">
  <div class="container__small-card-content">

  
  <div class="small-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbh24Xuyh_r2IQZmUNeGgpxiWSMr-jn1xwHQ&s" alt="">
  </div>
 <div class="small-card__title">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum autem quod eum dolores soluta quibusdam reprehenderit porro iusto.</p>
 </div>
</div>
<div class="conatiner__small-card__separator">
  <hr>
</div>

</div>



