<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-intro-text></app-intro-text>
<div class="container-articles">
  <div class="article__main">
    <app-big-card photCover= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbh24Xuyh_r2IQZmUNeGgpxiWSMr-jn1xwHQ&s" cardTitle="Apredendo a desenvolver em Angular" cardDescription="loredfsfsfdsfm"></app-big-card>
  </div>
  <div class="article__others">
    <app-smoll photCover= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbh24Xuyh_r2IQZmUNeGgpxiWSMr-jn1xwHQ&s" cardTitle="Apredendo a desenvolver em Angular"  ></app-smoll>
    <app-smoll photCover= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbh24Xuyh_r2IQZmUNeGgpxiWSMr-jn1xwHQ&s" cardTitle="Apredendo a desenvolver em Angular"></app-smoll>
    <app-smoll  photCover= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbh24Xuyh_r2IQZmUNeGgpxiWSMr-jn1xwHQ&s" cardTitle="Apredendo a desenvolver em Angular" ></app-smoll>
    
  </div>
</div>
