<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbh24Xuyh_r2IQZmUNeGgpxiWSMr-jn1xwHQ&s"
      alt=""
      width="400px"
    />
  </div>
  
    <div class="big-card__title">
      <a href="">
      <h1>Trabalhando com angular de um jeito proficional</h1>
    </a>
    </div>

    <div class="big-card__description">
      <p>Aprenada nesse blog a usar o Angular</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ex
        alias iusto suscipit ab amet, excepturi et aut eaque eos voluptate
        natus, voluptates, animi porro maxime? Quos inventore perferendis
        dignissimos.
      </p>
    </div>
 
</div>
